@model POE_Part_1.Models.productTable
@{
    ViewData["Title"] = "MyWork";


}

<h2>Our Craftwork</h2>
<div>
    @foreach (var product in Models)
    {
        <div>
            <img src="@product.ImageUrl" alt="@product.Name" />
            <h3>@product.Name</h3>
            <p>@product.Description</p>
            <p>Price: @product.Price</p>
            <p>Category: @product.Category</p>
            <p>Available: @(product.Availability ? "Yes" : "No")</p>
        </div>
    }
</div>

